.banner {
  display: block;
  margin: 50px 0;
  &__inner {
    height: 250px;
    background: linear-gradient(90deg, #f6f6f6 0%, #f6f6f6 100%);
    display: flex;
    justify-content: space-between;
  }
  &__text {
    padding: 28px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $gray;
  }
  &__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $yellow;
    display: inline-block;
    margin-top: auto;
  }
  &__img {
    height: 100%;
    width: 400px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .banner {
    background: linear-gradient(90deg, #f6f6f6 0%, #f6f6f6 100%);
    &__text {
      padding: 10px;
    }
    &__inner {
      background: transparent;
      height: 200px;
    }
    &__title {
      font-size: 22px;
      line-height: 24px;
    }
    &__descr,
    &__link {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

@media (max-width: 576px) {
  .banner {
    background: linear-gradient(90deg, #f6f6f6 0%, #f6f6f6 100%);
    &__text {
      padding: 10px 5px 10px 5px;
    }
    &__inner {
      height: 200px;
      background-color: transparent;
    }
    &__title {
      font-size: 18px;
      line-height: 20px;
    }
    &__descr,
    &__link {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
